@import './design.css';
@import './reset.css';

/* Apply fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
}

body {
    font-family: var(--font-body);
    font-weight: 300;
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
}